.container {
    display: flex;
    align-items: center;
    gap: 80px;
}

.itemOne {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 294px;
}

.title h3 {
    font-size: 18px;
    font-weight: 700;
}

.title h4 {
    font-size: 12px;
    font-weight: 400;
    color: #606265;
}

.itemTwo {
    flex: 2;    
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 80px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.img {
    width: 294px;
    height: 150px;
    object-fit: cover;
    object-position: 80% 20%;
    border-radius: 20px;
    flex-shrink: 0;
}

.rectangule {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 20px 20px;
    width: 294px;
    height: 54px;
    flex-shrink: 0;
    background: var(--fill, rgba(255, 255, 255, 0.15));
    backdrop-filter: blur(2.5px);
    position: absolute;
    bottom: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 254px;
}

.contentOne {
    display: flex;
    align-items: center;
    gap: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}

.h1 {
    font-size: 11px;
    font-weight: 700;
    color: #FFF;
}

.h2 {
    font-size: 10px;
    font-weight: 500;
    color: #CACACA;
}

.times {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    border-radius: 20px;
    gap: 10px;
    background-color: #FFF;
}

.h3 {
    font-size: 10px;
    font-weight: 600;
    color: #2C383B;
}

.play {
    width: 28px;
    height: 28px;
}

.cover {
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    gap: 30px;
}

.cover h1 {
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
}

.tecla {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;
}

.favs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.plus {
    width: 18px;
    height: 18px;
}

.line {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    height: 815px;
    background-color: grey;
    position: absolute;
    left: 500px;
}

.imgTwo {
    width: 830px;
    height: 130px;
    object-fit: cover;
    object-position: 80% 20%;
    border-radius: 20px;
    flex-shrink: 0;
}

.mainmid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.midimg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    position: relative;
}

.imgThr {
    width: 380px;
    height: 160px;
    object-fit: cover;
    object-position: 80% 20%;
    border-radius: 20px;
}

.rectan {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 20px 20px;
    padding: 0px 20px;
    width: 100%;
    height: 54px;
    background: var(--fill, rgba(255, 255, 255, 0.15));
    backdrop-filter: blur(2.5px);
    position: absolute;
    bottom: 0;
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.imgFg {
    max-width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: 80% 20%;
    border-radius: 20px;
}

.rec {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 20px 20px;
    padding: 0px 20px;
    width: 100%;
    height: 54px;
    background: var(--fill, rgba(255, 255, 255, 0.15));
    backdrop-filter: blur(2.5px);
    position: absolute;
    bottom: 0;
}

.con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.interLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: -20px;
    margin-bottom: -60px;
}

.getInfo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.getInfo h3 {
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
}

.getInfo h4 {
    font-size: 12px;
    font-weight: 400;
    color: #606265;
}

.getMovie {
    display: flex;
    align-items: center;
    gap: 10px;
}

.getMovie h4 {
    font-size: 12px;
    font-weight: 400;
    color: #606265;
}

.linesep {
    width: 1px;
    height: 14px;
    background-color: #454545;
}

.imageTitle {
    position: relative;
}

.sectitle {
    position: absolute;
    right: 28px;
    top: 45px;
    bottom: 6px;
}

.sectitle h1 {
    font-size: 48px;
    font-weight: 950;
    color: #FFF;
}

.buttonPost {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #F36F45;
    gap: 5px;
    position: absolute;
    left: 14px;
    bottom: 18px;
}

.buttonPost h3 {
    font-size: 10px;
    font-weight: 600;
}

.playTwo {
    width: 20px;
    height: 20px;
}

.trend {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 15px;
    padding: 3px 10px;
    background-color: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(2.5px);
    position: absolute;
    top: 9px;
    left: 27px;
}

.trend h5 {
    font-size: 10px;
    font-weight: 600;
}

.infoTec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.timIcons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.timStar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.superImg {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 9px;
    left: 14px;
}

.circ {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.imgBoy {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 1px solid #FFF;
    background: url("https://s3-alpha-sig.figma.com/img/9673/1f6a/bbd65182e7243a55d381e3bca43efbea?Expires=1698624000&Signature=Oyj14hWY1ZC0SWHF1BIeAOfoWSM0Tpj04t~7i5X~0qH13uqu-a~NkcsVq2LwnFp2GRCYjStWu5JVRN6GpVP0BSgMjE3Y7BMvT0fbFRv-LZAX64kBRne9b2PA4ZY8Ij66D3hQ5MHp1z26CslZ3wojG8k2aPnw5uax7LfJhhBL0hr7res3MZFLun9Q26zSaV6VNljX61bggZ5Q0W6u~XhWdjjdI8Vgsq9VUH7GfcU6uDr25Q~H~ocOXaENKem924X82eyqYcciApkwsSYpfNBuZ0iiRtDdaMrhKa4mESW2ASNam2~FGMe20cadMe8k87Qmzi0pFcLN~6ydP7bNicpR4w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
}

.imgGirl {
    width: 24px;
    height: 24px;
    margin-left: -10px;
    border-radius: 24px;
    border: 1px solid #FFF;
    background: url("https://s3-alpha-sig.figma.com/img/2a1e/dc98/4d98c93ea06715f11e25ad1906cb89fa?Expires=1698624000&Signature=hiE9-eqBlWQjdx7KRTZ1POOWKFaq4kCfqqPJwNaKFpO65fBvbT~zKj3xodOIq0GaYsUvlDmXj~-q9nz1VjxdTq9Eu~jIjX2v8GtZHQWhdyAsX~lI~1~poHBRyb1Aj45ZUbcixt3Bn6dXz4rjzvP1h0hnin6Y5vd96V~KNCCSI27cmnfxhl-uH7rPSdtIyX6lmqkEfWpoJvuv8Dt05K469Qgr23PLoFk8HRzp9MPIpkXma6Fwjd6zooOadIrW7OzWmdGz6NtVeu7LMUacFa9L9Y8GYhWka3pg3rfA8MIIpfksDnMlMC5stTR5Lw-tN~cdUuogfNREn1SWevWV5WQMcg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"), lightgray 50% / cover no-repeat;
}

.friend h4 {
    font-size: 10px;
    font-weight: 600;
    color: #FFF;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .tecla {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .line {
        display: none;
    }
}