.container {
    display: flex;
    align-items: center;
    gap: 80px;
}

.itemOne {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 294px;
}

.title h3 {
    font-size: 18px;
    font-weight: 700;
}

.title h4 {
    font-size: 12px;
    font-weight: 400;
    color: #606265;
}

.itemTwo {
    flex: 2;    
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 80px;
}

.cover {
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    gap: 30px;
}

.cover h1 {
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
}

.tecla {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;
}

.favs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.plus {
    width: 18px;
    height: 18px;
}

.line {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    height: 815px;
    background-color: grey;
    position: absolute;
    left: 500px;
}


.mainmid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.interLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: -20px;
    margin-bottom: -60px;
}

.getInfo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.getInfo h3 {
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
}

.getInfo h4 {
    font-size: 12px;
    font-weight: 400;
    color: #606265;
}

.getMovie {
    display: flex;
    align-items: center;
    gap: 10px;
}

.getMovie h4 {
    font-size: 12px;
    font-weight: 400;
    color: #606265;
}

.linesep {
    width: 1px;
    height: 14px;
    background-color: #454545;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .tecla {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .line {
        display: none;
    }
}